<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock title %}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
	<link href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	{# Link any other .css or .js found in app static folder. #}
	<style>
		{# Add simple CSS style tweaks here. #}
		body { padding-top: 70px; }
	</style>
	<script>
		$(function() {
			{# Add page-load JavaScript here. #}
		});
	</script>
		{% block java_script %}{% endblock %}

	{% block extra_head %}{% endblock extra_head %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a class="navbar-brand">Stackquery</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url_for('dashboard.dashboard_index')}}">Default report</a></li>
                            <li class="divider"></li>
                            {% set custom_reports = get_custom_reports() %}
                            {% for custom_report in custom_reports %}
                                <li><a href="{{ url_for('custom_report.show_report', report_id=custom_report.id) }}">{{ custom_report.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teams<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
        					<li><a href="{{ url_for('dashboard.dashboard_teams') }}">List</a></li>
        					<li class="divider"></li>         					
       						<li><a href="{{ url_for('dashboard.dashboard_create_team') }}">Create new Team</a></li>
      					</ul>
      				</li>
      				<li class="dropdown">
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
        					<li><a href="{{ url_for('dashboard.dashboard_users') }}">List</a></li>
        					<li class="divider"></li>         					
       						<li><a href="{{ url_for('dashboard.dashboard_create_user') }}">Create new User</a></li>
      					</ul>
      				</li>
   				</ul>
			</div>
		</div>
	</nav>

	<div id="main">
		
		<div class="content container">
			{% block main %}{% endblock main %}
		</div>
	</div>
</body>
</html>
