{% extends 'base.html' %}

{% from 'common.html' import render_field %}

{% if request.endpoint.endswith('edit_team') %}
	{% set title = 'Stackquery - Edit team' %}
	{% set button_name = 'Update' %}
{% else %}
	{% set title = 'Stackquery - Create team' %}
	{% set button_name = 'Create' %}
{% endif %}

{% block title %}{{ title }}{% endblock title%}

{% block java_script %}

<style type="text/css">
	.top5 { margin-top:15px; }
</style>

<script type="text/javascript">
    function loadOptions(select, url) {
      $.ajax({
         type: "GET",
         url: url,
         data: {},
         dataType: "json",
         success: function(json) {
            $.each(json, function(key, value) {
                $(select).append($("<option>", {
                    value: value['id'],
                    text: value['name']
                }));
            });
         }
      });
   }


$(document).ready(function(){
    $("#available-users").load(loadOptions("#available-users", "{{ url_for('rest_api.get_users') }}" ));
    $("#add").click(function() {
		return !$("#available-users option:selected").appendTo("#selected-users");
	});

	$("#remove").click(function() {
		return !$("#selected-users option:selected").appendTo("#available-users");
	});

	$("#add-all").click(function() {
		return !$("#available-users option").prop("selected", true).appendTo("#selected-users");
	});

	$("#remove-all").click(function() {
		return !$("#selected-users option").prop("selected", true).appendTo("#available-users");
	});

	{% if request.endpoint.endswith('edit_team') %}
	$.ajax({
		type: "GET",
		url: "{{ url_for('rest_api.get_users_from_team', team_id=team_id) }}",
		data: {},
		dataType: "json",
		success: function(json) {
			$.each(json, function(key, value) {
				console.log(value);
				!$("#available-users option[value='" + value['id'] + "']").appendTo("#selected-users");
			})
		}
	});
	{% endif %}
});

</script>

{% endblock java_script %}

{% block main %}
<form method="POST">
<section>
	<div class="row">
		<div class="span2">
    		{{ render_field(form.name)}}
    	</div>
    </div>
	<div class="row">
		<div class="span3">
        	<label for="release">Users available:</label>
        	<select id="available-users" size="10" name="available-users" multiple class="form-control">
        	</select>
    	</div>
    	<div class="span2">
    		<div class="top5">
    		<button class="btn btn-primary btn-block" id="add">Add</button>
    		</div>
    		<div class="top5">
    		<button class="btn btn-primary btn-block" id="add-all">Add all</button>
    		</div>
    		<div class="top5">
    		<button class="btn btn-primary btn-block" id="remove">Remove</button>
    		</div>
    		<div class="top5">
    		<button class="btn btn-primary btn-block" id="remove-all">Remove all</button>
    		</div>
    	</div>
    	<div class="span2">
        	<label for="release">Users selected:</label>
        	<select id="selected-users" size="10" name="selected-users" multiple class="form-control">
        	</select>
    	</div>
    </div>
    <div class="row">
        <div class="span4">
            <button type="submit" class="btn btn-primary">{{ button_name }}</button>
        </div>
    </div>
    </section>
</form>
{% endblock main %}