{% extends 'base.html' %}

{% from 'common.html' import list_users %}

{% block title %}Stackquery - Reports{% endblock title%}

{% block java_script %}

<script type="text/javascript">
    function loadComboBox(select, url, data, json_key, json_value) {
      $.ajax({
         type: "GET",
         url: url,
         data: data,
         dataType: "json",
         success: function(json){
            var options = "";
            $.each(json, function(key, value){
                $(select).append($("<option>", {
                    value: value[json_key].toString().toLowerCase(),
                    text: value[json_value]
                }));
            });
         }
      });
   }

$(document).ready(function(){
    $("#release").load(loadComboBox("#release", "{{ url_for('rest_api.get_releases') }}", {}, 'name', 'name'));
    $("#team").load(loadComboBox("#team", "{{ url_for('rest_api.get_teams') }}", {}, 'id', 'name'));
    {% if users %}
    $("#project_type option[value='{{ project_type }}2']").prop('selected', true);
    $("#type option[value='{{ metric }}']").prop('selected', true);
    $("#release option[value='{{ release }}']").prop('selected', true);
    $("#team option[value='{{ team_id }}']").prop('selected', true);
    {% endif %}
});

</script>

{% endblock java_script %}

{% block main %}

<form method="POST">
    <div class="row">
        <div class="span3">
            <label for="release">Release:</label>
            <select class="form-control" name="release" id="release">
            </select>
        </div>
        <div class="span3">
            <label for="project_type">Project type:</label>
            <select class="form-control" name="project_type" id="project_type">
                <option value="all">All</option>
                <option value="openstack">Openstack</option>
                <option value="stackforge">Stackforge</option>
            </select>
        </div>
        <div class="span3">
            <label for="project_type">Type:</label>
            <select class="form-control" name="type" id="type">
                <option value="metric">Metrics</option>
                <option value="group">Group Summary</option>
            </select>
        </div>
        <div class="span3">
            <label for="team">Team:</label>
            <select class="form-control" name="team" id="team">
            </select>
        </div>
        <div class="span3">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </div>
</form>

{% if users %}
<div>
{{ list_users(users, metric, release) }}
</div>
{% endif %}
{% endblock main %}

<!--form>
    <div class="row">
        <div class="col-md-3">
            <div class="span3">
                <label class="control-label" for="date_deb">Date Début</label>
                <select name="date_deb" id="date_deb" class="form-control">
                    <option value="07/11/2012">07/11/2012</option>
                    <option value="30/09/2012">30/09/2012</option>            
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="date_deb">Date Début</label>
                <select name="date_deb" id="date_deb" class="form-control">
                    <option value="07/11/2012">07/11/2012</option>
                    <option value="30/09/2012">30/09/2012</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="date_deb">Date Début</label>
                <select name="date_deb" id="date_deb" class="form-control">
                    <option value="07/11/2012">07/11/2012</option>
                    <option value="30/09/2012">30/09/2012</option>            
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <br>
            <button type="submit" class="btn btn-success" id="date_search">Rechercher</button>
        </div>
    </div>
</form-->