{% extends 'base.html' %}

{% from 'common.html' import detail_team %}

{% block title %}Stackquery - List teams{% endblock title%}

{% block java_script %}
<script type="text/javascript">
	$(function() {
		$(".team-delete-link").on("click", function() {
			var delete_url = $(this).attr('data-delete-url');
			$.ajax({
				url: delete_url,
				type: 'DELETE',
				success: function(response) {
					if (response.status == 'OK') {
						window.location = "{{ url_for('dashboard.dashboard_teams') }}";
					} else {
						alert("Delete failed")
					}
				}
			})
		})
	})

	$(function() {
		$(".user-delete-link").on("click", function() {
			var delete_url = $(this).attr('data-delete-url');
			$.ajax({
				url: delete_url,
				type: 'DELETE',
				success: function(response) {
					if (response.status == 'OK') {
						window.location = "{{ url_for('dashboard.dashboard_teams') }}";
					} else {
						alert("Delete failed")
					}
				}
			})
		})
	})
</script>
{% endblock java_script %}

{% block main %}

{% for team in teams %}
    <div class="span11">{{ detail_team(team) }}</div>
{% endfor %}

{% endblock main %}